[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
envdir = "*"
oauth2client = "*"
gspread = "*"
XlsxWriter = "*"
csv-diff = "*"
pycap = "~=1.1"

[dev-packages]
yapf = "*"
pylint = "*"
visidata = "*"

[requires]
python_version = "3.9"
